includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
    
    # The level 9 is the highest level
    level: 8
    
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::factory\(\)#'
        - '#Property .* \(.*\) does not accept default value of type null#'
    
    excludePaths:
        - ./vendor/*
        - ./storage/*
        - ./bootstrap/cache/*
        - ./tests/*
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    laravel:
        additionalRules:
            - ./vendor/larastan/larastan/src/Rules 